.file_editor {
	width: 100%;
	height: auto;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 26px; /* tab height !!! */
	right: 0;
	
	font-familiy: Monaco, Verdana;
	display: none;
}

.file_editor.active {
	display: block;
}

.file_editor .editor {
	width: 100%;
	
}
.file_editor .editor .CodeMirror {
	height: 100%;
}

.file_editor .editor .CodeMirror .CodeMirror-scroll {
	height: 100%;
}

.file_editor .CodeMirror-cursor {
	
}