body {
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
}

#tabs {
	width: 100%;
	height: 25px;
	padding-top: 0px;
	position: absolute;
	top: 0;
	left: 0;
	list-style-type: none;
	background-color: #e8e8e8;
	border-bottom: 1px solid #ccc;
	
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
}

#tabs ul {
	padding: 0;
	margin: 0;
	padding-left: 10px;
}

#tabs ul li {
	display: inline-block;
	min-width: 60px;
	padding: 5px;
	margin-top: 3px;
	border: 1px solid #bbb;
	border-bottom: 0;
	height: 11px;
	-webkit-border-top-left-radius: 4px;
	-webkit-border-top-right-radius: 4px;
	-moz-border-radius-topleft: 4px;
	-moz-border-radius-topright: 4px;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	text-align: center;
	background: #ddd url('../theme/tabs/tab_inactive_bg.png') repeat-x;
	font-size: 14px;
	line-height: 12px;
	margin-right: 2px;
}

#tabs ul li.active {
	background: #fff url('../theme/tabs/tab_active_bg.png') repeat-x;
}

#pages {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 26px;
	left: 0;
	overflow: hidden;
	bottom: 0;
	right: 0;
}